<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>控制台页面</title>
    <{load file="static/css/style.default.css" /}>
</head>
<body class="withvernav">
    <div class="bodywrapper">
        <div class="topheader">
            <div class="left">
                <h1 class="logo">TP5<span>商城管理</span></h1>
                <span class="slogan">后台管理系统</span>

                <div class="search">
                    <form action="" method="post">
                        <input type="text" name="keyword" id="keyword" value="请输入"/>
                        <button class="submitbutton"></button>
                    </form>
                </div><!--search-->

                <br clear="all"/>

            </div><!--left-->

            <div class="right">
                <!--<div class="notification">
                    <a class="count" href="ajax/notifications.html"><span>9</span></a>
                </div>-->
                <div class="userinfo">
                    <img src="images/thumbs/avatar.png" alt=""/>
                    <span>管理员</span>
                </div><!--userinfo-->

                <div class="userinfodrop">
                    <div class="avatar">
                        <a href=""><img src="images/thumbs/avatarbig.png" alt=""/></a>
                        <div class="changetheme">
                            切换主题: <br/>
                            <a class="default"></a>
                            <a class="blueline"></a>
                            <a class="greenline"></a>
                            <a class="contrast"></a>
                            <a class="custombg"></a>
                        </div>
                    </div><!--avatar-->
                    <div class="userdata">
                        <h4>Juan</h4>
                        <span class="email">youremail@yourdomain.com</span>
                        <ul>
                            <li><a href="editprofile.html">编辑资料</a></li>
                            <li><a href="accountsettings.html">账号设置</a></li>
                            <li><a href="help.html">帮助</a></li>
                            <li><a href="index.html">退出</a></li>
                        </ul>
                    </div><!--userdata-->
                </div><!--userinfodrop-->
            </div><!--right-->
        </div><!--topheader-->
        <{include file="public/header"}>
        <{include file="public/left-menu"}>
        <{__CONTENT__}>
    </div>
</body>
<{load file="static/js/plugins/jquery-1.7.min.js"/}>
<{load file="static/js/plugins/jquery-ui-1.8.16.custom.min.js"/}>
<{load file="static/js/plugins/jquery.cookie.js"/}>
<{load file="static/js/plugins/jquery.uniform.min.js"/}>
<{load file="static/js/plugins/jquery.flot.min.js"/}>
<{load file="static/js/plugins/jquery.flot.resize.min.js"/}>
<{load file="static/js/plugins/jquery.slimscroll.js"/}>
<{load file="static/js/custom/general.js"/}>
<{load file="static/js/custom/dashboard.js"/}>
<{load file="static/selfJs/admin.js"/}>
</html>
