<{layout name="layout"}>
<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <{include file="public/left-menu"}> <!-- 替换成挂件 -->
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="#">首页</a> <span class="divider">/</span></li>
                    <li class="active">会员中心</li>
                </ul>
                <!--<h3> Products Name <small class="pull-right"> 40 products are available </small></h3>-->
                <hr class="soft"/>
                <h2>会员中心首页</h2>


                <br class="clr"/>
            </div>
        </div>
    </div>
</div>