<div class="header">
    <ul class="headermenu">

        <li class="current"><a id="test" data-url="<{$Think.const.__PUBLIC__}>/index.php/admin/index/index" href="javascript:;"><span class="icon icon-flatscreen"></span>站点</a></li>
        <li><a href="<{$Think.const.__PUBLIC__}>/index.php/admin/seller/index"><span class="icon icon-pencil"></span>商家</a></li>
        <li><a href="<{$Think.const.__PUBLIC__}>/index.php/admin/member/index"><span class="icon icon-pencil"></span>会员</a></li>
        <li><a href="<{$Think.const.__PUBLIC__}>/index.php/admin/goods/index"><span class="icon icon-pencil"></span>商品</a></li>
        <li><a href="<{$Think.const.__PUBLIC__}>/index.php/admin/order/index"><span class="icon icon-message"></span>订单</a></li>
        <li><a href="<{$Think.const.__PUBLIC__}>/index.php/admin/system/index"><span class="icon icon-chart"></span>系统</a></li>
    </ul>

    <div class="headerwidget">
        <div class="earnings">
            <div class="one_half">
                <h4>Today's Earnings</h4>
                <h2>$640.01</h2>
            </div><!--one_half-->
            <div class="one_half last alignright">
                <h4>Current Rate</h4>
                <h2>53%</h2>
            </div><!--one_half last-->
        </div><!--earnings-->
    </div><!--headerwidget-->

</div><!--header-->

<script>


</script>