<div class="header">
    <{:widget('Menu/menuTab', '')}>
    <div class="headerwidget">
        <div class="earnings">
            <div class="one_half">
                <h4>Today's Earnings</h4>
                <h2>$640.01</h2>
            </div><!--one_half-->
            <div class="one_half last alignright">
                <h4>Current Rate</h4>
                <h2>53%</h2>
            </div><!--one_half last-->
        </div><!--earnings-->
    </div><!--headerwidget-->

</div><!--header-->

<script>


</script>