<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>tp5后台登录</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- basic styles -->
    <{load file="static/assets/css/bootstrap.min.css"/}>
    <{load file="static/assets/css/font-awesome.min.css"/}>

    <!--[if IE 7]>
    <{load file="static/assets/css/font-awesome-ie7.min.css"/}>
    <![endif]-->

    <!-- page specific plugin styles -->
    <!-- fonts -->
    <{load file="static/assets/css/googleapis.css"/}>
    <!-- ace styles -->
    <{load file="static/assets/css/ace.min.css"/}>
    <{load file="static/assets/css/ace-rtl.min.css"/}>
    <!--[if lte IE 8]>
    <{load file="static/assets/css/ace-ie.min.css"/}>
    <![endif]-->

</head>
<body class="login-layout">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="icon-leaf green"></i>
                            <span class="red">TP5</span>
                            <span class="white">后台管理</span>
                        </h1>
                        <h4 class="blue">&copy; 商城管理</h4>
                    </div>
                    <div class="space-6"></div>
                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="icon-coffee green"></i>
                                        管理员登录
                                    </h4>
                                    <div class="space-6"></div>
                                    <form validate="true" action="<{$Think.const.__PUBLIC__}>/index.php/admin/passport/login" method="post">
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="text" name="admin[local]" class="form-control"
                                                           placeholder="用户名"/>
                                                    <i class="icon-user"></i>
                                                </span>
                                            </label>

                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    <input type="password" name="admin[password]"
                                                           class="form-control"
                                                           placeholder="密码"/>
                                                    <i class="icon-lock"></i>
                                                </span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <label class="inline">
                                                    <input type="checkbox" class="ace"/>
                                                    <span class="lbl">自动登录</span>
                                                </label>

                                                <button type="submit"
                                                        class="width-35 pull-right btn btn-sm btn-primary">
                                                    <i class="icon-key"></i>
                                                    登录
                                                </button>
                                            </div>
                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                    <div class="social-or-login center">
                                        <span class="bigger-110">Or Login Using</span>
                                    </div>
                                    <div class="social-login center">
                                        <a class="btn btn-primary">
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a class="btn btn-info">
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a class="btn btn-danger">
                                            <i class="icon-google-plus"></i>
                                        </a>
                                    </div>
                                </div><!-- /widget-main -->
                            </div><!-- /widget-body -->
                        </div><!-- /login-box -->
                    </div><!-- /position-relative -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</div><!-- /.main-container -->
<{load file="static/assets/js/jquery-2.0.3.min.js"/}>

<!--[if lt IE 9]>
<{load file="static/assets/js/html5shiv.js"/}>
<{load file="static/assets/js/respond.min.js"/}>
<![endif]-->
<{load file="static/selfJs/validate.js"/}>
</body>
</html>

